#books-logo {
  margin: auto;
  text-decoration: none;
  font-size: 40px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-family: serif;
  font-size: 40px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  font-family: sans-serif;
  text-decoration: none; }

#main-nav {
  padding: 0 20px; }
  @media screen and (min-width: 768px) {
    #main-nav {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 100px;
      width: 50%; } }
  #main-nav nav {
    margin-top: 50px;
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s ease-in-out; }
    @media screen and (min-width: 768px) {
      #main-nav nav {
        top: 0;
        background-color: rgba(0, 0, 0, 0); } }
    #main-nav nav ul {
      display: block;
      text-align: center; }
      @media screen and (min-width: 768px) {
        #main-nav nav ul {
          display: flex;
          float: right;
          margin-right: 20px;
          padding-bottom: 10px; } }
      #main-nav nav ul a {
        font-size: 20px;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        color: #fff;
        display: block;
        transition: .3s; }
        @media screen and (min-width: 768px) {
          #main-nav nav ul a {
            color: black; } }
        #main-nav nav ul a:hover, #main-nav nav ul a.hightlight {
          color: #fff;
          background: orangered; }

.menu-toggle {
  line-height: 100px;
  font-size: 50px;
  color: black;
  float: right;
  cursor: pointer;
  display: block; }
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none; } }

#main-nav nav.active {
  right: 0; }

@media screen and (min-width: 768px) {
  #main-nav nav#desktop-only {
    right: 60px; } }

.cart {
  position: absolute;
  top: 30px;
  right: 80px;
  font-family: Arial, Helvetica, sans-serif; }
  @media screen and (min-width: 768px) {
    .cart {
      top: 55px;
      right: 10px;
      cursor: pointer; } }
  .cart i {
    font-size: 40px;
    color: black; }
    @media screen and (min-width: 768px) {
      .cart i {
        font-size: 30px; } }

.total-text {
  font-family: Arial, Helvetica, sans-serif; }
  .total-text p {
    display: inline; }

#cart-header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center; }

#cart-items {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 0;
  top: 100px;
  background-color: white;
  padding: 30px;
  width: 100%;
  z-index: 1; }

.buttons {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px; }
  .buttons a {
    color: white;
    font-size: 15px; }

.continue-btn {
  background-color: #0059ff; }

.checkout-btn {
  background-color: green;
  float: right; }

.remove {
  background-color: gray;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0px 5px;
  padding: 3px;
  float: right; }

#list-item li {
  margin: 10px 0px;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px; }

#productlistBox {
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f7f7f7; }
  @media screen and (min-width: 768px) {
    #productlistBox {
      width: 350px;
      height: 400px; } }
  #productlistBox img {
    width: 60%;
    height: 70%; }
    @media screen and (min-width: 768px) {
      #productlistBox img {
        width: 60%;
        height: 70%;
        padding-right: 10px; } }
  #productlistBox button {
    width: 80px;
    height: 40px;
    background-color: #36a136;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer; }
  #productlistBox p {
    color: red; }

#productlistBoxDetail {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  background-color: #f7f7f7; }
  @media screen and (min-width: 768px) {
    #productlistBoxDetail {
      flex-direction: row;
      width: 650px;
      height: 450px; } }
  #productlistBoxDetail img {
    width: 65%;
    height: 70%;
    max-height: 270px; }
    @media screen and (min-width: 768px) {
      #productlistBoxDetail img {
        width: 100%;
        height: 60%;
        padding-right: 10px; } }
  #productlistBoxDetail button {
    width: 80px;
    height: 40px;
    background-color: #36a136;
    border: none;
    border-radius: 5px;
    color: white; }
  #productlistBoxDetail p {
    color: red; }
  #productlistBoxDetail #quantity {
    color: black; }

#productLeft {
  display: flex;
  flex-direction: column;
  height: 100%; }
  @media screen and (min-width: 768px) {
    #productLeft {
      width: 30%; } }
  #productLeft img {
    padding-bottom: 10px; }
  #productLeft h3 {
    padding-bottom: 10px; }
  #productLeft p {
    padding-bottom: 10px; }
  #productLeft button {
    cursor: pointer; }

#productDescription {
  height: 100%;
  padding-top: 10px; }
  @media screen and (min-width: 768px) {
    #productDescription {
      width: 70%; } }

#quantityBox {
  display: flex;
  justify-content: space-evenly;
  width: 80px;
  padding-top: 10px; }

#removeItem {
  cursor: pointer; }

#addItem {
  cursor: pointer; }

#checkoutBox {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 70%; }
  #checkoutBox #checkoutItem {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5px; }
  #checkoutBox #checkoutItem:nth-child(even) {
    background-color: #f1f1f1; }
  #checkoutBox #addedProductQuantity {
    height: 40px;
    width: 25%;
    position: absolute;
    right: 0;
    top: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

#checkoutButtons {
  display: flex;
  order: 2;
  height: 50px;
  padding-top: 10px; }
  #checkoutButtons button {
    width: 140px;
    cursor: pointer;
    background-color: #36a136;
    border: none;
    border-radius: 5px;
    color: white; }
  #checkoutButtons #leftBuyBtn {
    margin-right: 10px; }
  #checkoutButtons #rightContinueBtn {
    margin-left: 10px; }

#totalCost {
  display: flex;
  order: 3;
  padding-top: 10px;
  justify-content: center; }

.grid-container {
  display: grid;
  height: 100vh;
  grid-template: 'mainlogo navbar navbar navbar navbar' 100px 'mainarea mainarea mainarea mainarea mainarea' 1fr 'footer footer footer footer footer' 100px / 50% 1fr; }
  @media screen and (min-width: 768px) {
    .grid-container {
      grid-template: 'mainlogo navbar navbar navbar navbar' 100px 'mainarea mainarea mainarea mainarea mainarea' 1fr 'footer footer footer footer footer' 100px / 20% 1fr; } }

.logo {
  grid-area: mainlogo;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav {
  grid-area: navbar;
  justify-content: center;
  align-items: center; }

.main {
  grid-area: mainarea;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .main {
      flex-direction: row; } }

.footer {
  grid-area: footer; }

header {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../images/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .header-text {
    width: 60vw;
    text-align: center; }
    @media screen and (min-width: 768px) {
      header .header-text {
        width: 30vw; } }
  header h1 {
    margin-bottom: 10px;
    font-family: League Spartan, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: white; }
    @media screen and (min-width: 768px) {
      header h1 {
        font-size: 45px; } }
  header #book {
    font-size: 45px; }
    @media screen and (min-width: 768px) {
      header #book {
        font-size: 60px;
        letter-spacing: 0.5px; } }
  header p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      header p {
        font-size: 20px; } }
  header button {
    font-size: 17px;
    width: 140px;
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', Helvetica, serif;
    padding: 10px;
    border-radius: 500px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out; }
    header button:hover, header button:active {
      background-color: white;
      color: black; }
    header button a {
      text-decoration: none;
      color: white; }
      header button a:hover {
        color: black; }
    @media screen and (min-width: 768px) {
      header button {
        font-size: 20px;
        width: 160px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#main-footer {
  background-color: #1a1a1a;
  text-align: center;
  padding-top: 20px; }
  #main-footer p {
    color: white;
    padding: 10px; }

.icons a {
  color: white;
  font-size: 20px;
  margin: 10px; }
  .icons a:hover {
    color: #3f3f3f; }
