nav ul {
  display: block;
  float: right;
  overflow: hidden;
  margin: 40px 0;
  margin-right: 10px; }
  nav ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px; }
    nav ul li a {
      text-decoration: none;
      color: black; }
      nav ul li a #shopping-cart {
        font-size: 20px; }
      nav ul li a:hover {
        color: gray; }

@media screen and (max-width: 768px) {
  nav {
    width: 100vw;
    height: 100vh;
    visibility: hidden; }
    nav ul {
      padding-top: 20px;
      display: block;
      width: 100%;
      margin: auto; } }

#testbox {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: left;
  margin: 10px; }

.grid-container {
  display: grid;
  height: 100vh;
  grid-template: 'mainlogo navbar navbar navbar navbar' 100px 'mainarea mainarea mainarea mainarea mainarea' 1fr 'footer footer footer footer footer' 100px / 25% 1fr; }

.logo {
  grid-area: mainlogo;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav {
  grid-area: navbar;
  justify-content: center;
  align-items: center; }

.main {
  grid-area: mainarea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .main {
      flex-direction: row;
      flex-wrap: wrap; } }

.footer {
  grid-area: footer; }

header {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../images/books.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .header-text {
    width: 30vw;
    text-align: center; }
  header h1 {
    margin-bottom: 10px;
    font-family: League Spartan, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white; }
  header #book {
    font-size: 60px;
    letter-spacing: 0.5px; }
  header p {
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    font-size: 18px; }
  header button {
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', Segoe UI, calibri, Helvetica, serif;
    padding: 10px;
    font-size: 18px;
    width: 160px;
    border-radius: 500px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out; }
    header button:hover, header button:active {
      background-color: white;
      color: black; }
    header button a {
      text-decoration: none;
      color: white; }
      header button a:hover {
        color: black; }

@media screen and (min-width: 768px) {
  .header-text {
    width: 70vw;
    text-align: center; } }

@media screen and (max-width: 768px) {
  #books {
    font-size: 45px; }
  header .header-text {
    width: 60vw;
    text-align: center; }
  header h1 {
    font-size: 30px; }
  header p {
    font-size: 15px;
    display: block;
    margin: auto;
    margin-bottom: 20px; }
  header button {
    font-size: 16px;
    width: 140px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainlogo {
  max-width: 90%;
  max-height: 100px; }
