#books-logo {
  margin: auto;
  text-decoration: none;
  font-size: 40px;
  color: black;
  font-weight: bold;
  cursor: pointer; }

.navbar {
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Roboto', Helvetica, sans-serif; }

.main-nav {
  list-style-type: none;
  display: none; }
  .main-nav li {
    text-align: center;
    margin: 15px auto; }

.nav-links {
  text-decoration: none;
  color: white; }

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 40px; }

.active {
  padding-top: 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.4); }

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 40px;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center; }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end; }
    .main-nav li {
      margin: 0; }
  .nav-links {
    margin-left: 40px;
    color: black; }
  .navbar-toggle {
    display: none; }
  .nav-links:hover {
    color: gray; } }

#testbox {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: left;
  margin: 10px; }

.grid-container {
  display: grid;
  height: 100vh;
  grid-template: 'mainlogo navbar navbar navbar navbar' 100px 'mainarea mainarea mainarea mainarea mainarea' 1fr 'footer footer footer footer footer' 100px / 25% 1fr; }

.logo {
  grid-area: mainlogo;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav {
  grid-area: navbar;
  justify-content: center;
  align-items: center; }

.main {
  grid-area: mainarea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .main {
      flex-direction: row;
      flex-wrap: wrap; } }

.footer {
  grid-area: footer; }

header {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../images/books.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1; }
  header .header-text {
    width: 60vw;
    text-align: center; }
  header h1 {
    margin-bottom: 10px;
    font-family: League Spartan, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white; }
  header #books {
    font-size: 45px; }
  header p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-bottom: 20px; }
  header button {
    font-size: 16px;
    width: 140px;
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', Helvetica, serif;
    padding: 10px;
    border-radius: 500px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out; }
    header button:hover, header button:active {
      background-color: white;
      color: black; }
    header button a {
      text-decoration: none;
      color: white; }
      header button a:hover {
        color: black; }

@media screen and (min-width: 768px) {
  header .header-text {
    width: 30vw; }
  header #book {
    font-size: 60px;
    letter-spacing: 0.5px; }
  header p {
    font-size: 18px; }
  header button {
    font-size: 18px;
    width: 160px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#main-footer {
  background-color: #1a1a1a; }
  #main-footer p {
    color: white;
    text-align: center;
    margin-top: 10px; }
