#contact-header {
    margin: 0;

    @include desktop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

#contact-image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 80vw;
    max-width: 700px;
    margin-bottom: 30px;
    
    @include desktop {
        margin-top: 50px;
        width: 80vw;
    }
}

.contact-contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    
    @include desktop {
        margin-bottom: 100px;
    }
}
.contact-method {
    font-size: 20px;
}

.contact-icons {
    font-size: 40px;
    padding: 20px;
}

.contact-text {
    padding: 20px;
    line-height: 25px;
}