#books-logo {
    margin: auto;
    text-decoration: none;
    font-size: 40px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: serif;
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

#main-nav{
    padding: 0 20px;
    & nav{
        margin-top: 60px;
        position: absolute;
        top: 50px;
        right:-100%;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,.7);
        transition: all .5s ease-in-out;
        & ul{
            display: block;
            text-align: center;
            & a{
                font-size: 20px;
                text-decoration: none;
                height: 50px;
                line-height: 50px;
                padding: 0 15px;
                color: #fff;
                display: block;
                transition: .3s;
                &:hover, &.hightlight{
                    color: #fff;
                    background: orangered;
                }  
            }
        }
    }
}

.menu-toggle{
    line-height: 100px;
    font-size: 50px;
    color: black;
    float: right;
    cursor: pointer;
    display: block;

}

#main-nav nav.active{
    right: 0;
}

@include desktop {
    #main-nav{
        position: absolute;
        top:0;
        padding: 0 100px; 
        width: 100%;
        & nav {
            top:0;
            background-color: rgba(0,0,0,0);
            & ul{
                display: flex;
                float: right;
                margin-right: 20px;
                    a {
                        color: black;
                    }     
            }
        }  

        .menu-toggle{
            display: none;
        }
    }

    #main-nav nav#desktop-only {
        right: 0;
    }
}
