header {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/books.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .header-text {
        width: 30vw;
        text-align: center;
    }
    & h1 {
        margin-bottom: 10px;
        font-family: League Spartan, sans-serif;
        font-weight: 500;
        font-size: 45px;
        color: white;
    }
    & #book {
        font-size: 60px;
        letter-spacing: 0.5px;
    }
    & p {
        margin-bottom: 20px;
        font-family: 'Open Sans', Helvetica, sans-serif;
        color: white;
        font-size: 18px;
    }
    & button {
        border: 2px solid white;
        color: white;
        font-family: 'Roboto', Segoe UI, calibri, Helvetica, serif;
        padding: 10px;
        font-size: 18px;
        width: 160px;
        border-radius: 500px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        &:hover, &:active {
            background-color: white;
            color: black;
        }
        & a {
            text-decoration: none;
            color: white;
            &:hover {
                color: black;
            }
        }
    }   
}

@include desktop {
    .header-text {
        width: 70vw;
        text-align: center;
    }
}

@include mobile {
    #books {
        font-size: 45px;
    }
    header {
        & .header-text {
            width: 60vw;
            text-align: center;
        }
        & h1 {
            font-size: 30px;
        }
        & p {
            font-size: 15px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
        & button {
            font-size: 16px;
            width: 140px;
        }
    } 
}

